*{
    margin: 0;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f4f6f8;
  color: #333;
    width: 100vw;
    overflow-x: hidden;
}

header {
  background: linear-gradient(rgba(0, 48, 97, 0.8), rgba(0, 48, 97, 0.8)), url('Dante.jpg');
  background-size: cover;
  background-position: center bottom -80px;
  color: white;
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px; /* controls when 3 columns happen */
    box-sizing: border-box;
  margin: 0 auto;
    overflow-x: hidden;
}

.grid-section {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  background: #4f46e5;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

h2{
  margin: 0 0 1rem 0;
}

h3 {
  margin: 0;
}

button:hover {
  background: #4338ca;
}

.footer {
  text-align: center;
  padding: 1rem;
  color: #777;
}

.agenda-grid-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
      grid-row: span 5;
}

.introduction-grid-item{
    grid-column: span 2;
  display: flex;
  gap: 1rem;
}

.agenda-item{
    border-top: 1px solid #818181;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.introduction-image{
    width: 40%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.follow-a{
    border-radius: 5px;
    padding: 10px;
    background-color: #e0e7ff;
    text-decoration: none;
    color: #000;
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
    width: fit-content;
    margin-right: 10px;
}

.follow-a:hover{
    background-color: #c7d2fe;
}

.socials-icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}


@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr; /* Single column layout for phones */
  }
    .introduction-grid-item{
        grid-column: span 1;
        flex-direction: column;
        align-items: center;
    }
    .introduction-image{
        width: 100%;
    }
}